<div class="well well-title"><h4><strong>{{title}}</strong></h4></div>
<div class="row">
	{{#each comics}}
		<articule class="col-xs-6 col-md-3">
			<a href="#!/comic/detail/{{id}}">
			<div class="thumbnail">
				<img src="{{url}}" alt="comic image">
				<div class="caption">
					<h6>{{name}}</h6>
					<p>
						<a href="#" class="btn btn-primary btn-sm btn-block {{disabled (not available)}}" role="button">Borrow</a>
					</p>
				</div>
			</div>
			</a>
		</articule>
		{{#unless @last}}
			{{#ifmodeqzero @index 4}}
</div>
<div class="row">
			{{/ifmodeqzero}}
		{{/unless}}
	{{/each}}
</div>