<div class="row marketing">
	<div class="col-lg-3">
		<figure class="comic-image-detail">
			<img src="{{image}}" alt="Image Comic" />
		</figure>
	</div>
	<div class="col-lg-6">
		<div class="row">
		<h3>{{title}}</h3>
		<p>{{synopsis}}</p>
		</div>
		<div class="row">
			<h4>Credits</h4>
			<div class="col-lg-4">
				<h5>Written By</h5>
				<span>{{writtenBy}}</span>
			</div>
			<div class="col-lg-4">
				<h5>Art By</h5>
				<span>{{artBy}}</span>
			</div>
			<div class="col-lg-4">
				<h5>Cover By</h5>
				<span>{{coverBy}}</span>
			</div>
		</div>
		<div class="row">
			<h4>About Book</h4>
			<div class="col-lg-4">
				<h5>Page Count</h5>
				<span>{{pageCount}}</span>
			</div>
			<div class="col-lg-4">
				<h5>Digital Release Date</h5>
				<span>{{releaseDate}}</span>
			</div>
			<div class="col-lg-4">
				<h5>Age Rating</h5>
				<span>{{ageRating}}</span>
			</div>
		</div>
	</div>
</div>