<div class="row marketing">
	<div class="col-lg-4">
		<figure>
			<img class="profile-picture" src="{{picture}}" alt="User Picture" />
		</figure>
	</div>
	<div class="col-lg-6">
		<div class="row">
		<h3>{{fullName}}</h3>
		</div>
		<div class="row">
			<div class="">
				<h4>Username</h4>
				<span>{{userName}}</span>
			</div>
			<div class="">
				<h4>E-mail</h4>
				<span>{{email}}</span>
			</div>
			<div class="">
				<h4>User Since</h4>
				<span>{{userSince}}</span>
			</div>
		</div>
	</div>
</div>

<div class="comics-borrowed clearfix">
	<h4>Comics Borrowed</h4>
	{{#each comics}}
	<div class="row comic-item col-lg-11">
		<div class="media">
			<a class="pull-left" href="#">
				<img src="{{url}}" alt="Comic Image" />
			</a>
			<div class="media-body">
				<h4>Name</h4>
				<span>{{name}}</span>
				<h4>Synopsis</h4>
				<span>{{synopsis}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<h4>Last Comments</h4>
				<div class="list-group">
					{{#each comments}}
					<a class="list-group-item">
						<h5 class="list-group-item-heading">{{userName}}</h5>
						<p class="list-group-item-text">{{comment}}</p>
					</a>
					{{/each}}
					<a class="list-group-item">
						<h5 class="list-group-item-heading">Add Comment</h5>
						<div class="input-group">
							<input type="text" id="comment-add-{{id}}" class="form-control">
							<span class="input-group-btn">
								<button data-value="{{id}}" class="comic-comment btn btn-primary" type="button">Comment</button>
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>